* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 100%;
  font-family: sans-serif;
}

div,
section,
span,
ul,
li,
a,
header {
  box-sizing: border-box;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  align-items: center;
  position: fixed;
  z-index: 999;
}
header img {
  height: 120px;
  width: 120px;
}

#menu li {
  list-style: none;
  display: inline-block;
  margin: 20px;
}

#menu li a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}

section {
  width: 100%;
  float: left;
  height: 100vh;
  position: relative;
}

#Home {
  background-image: url("/images/back.png");
  background-repeat: no-repeat;
}

#about {
  background-color: #f4e600;
}

#more {
  background-color: #f4e600;
}

#contact {
  background-color: #f4e600;
}

.Homepage {
  height: fit-content;
  width: fit-content;

  margin-left: 25%;
  margin-right: 25%;
  margin-top: 29%;
  border: 15px lightgrey;
  padding: 20px;
  background-color: lightgray;
  text-align: justify;
}
span {
  color: orange;
}
.textbox {
  text-align: center;
  margin-left: 5%;
  margin-right: 25%;
  margin-top: 25%;
  border: 30px;
  padding: 20px;
  width: 400px;
  text-align: justify;
}

.AboutME img {
  height: 910px;
  width: 605px;
  display: flexbox;
  position: relative;
  float: right;
}
.text2 {
  text-align: center;
  padding: 20px;
  float: right;
  border: 50px;

  width: 450px;
  text-align: justify;
  margin-top: -30%;
  margin-right: 150px;
}

.mdpic img {
  float: left;
  display: flexbox;
  position: relative;
  margin-top: -20%;
  height: max-content;
}
.contact-box {
  width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  box-shadow: 0 0 20px 0 #999;
  background-color: #f4e600;
}
form {
  margin: 35px;
}
.input-field {
  width: 400px;
  height: 40px;
  margin-top: 20px;
  padding-left: 10px;
  border: 1px solid #777;
  border-radius: 14px;
  outline: none;
}
.social {
  margin-top: 700px;
  margin-left: 570px;
}

/*really strugled with this media qurries*/

@media screen and (max-width: 390px) {
  body {
    font-size: 100%;
    font-family: sans-serif;
  }

  div,
  section,
  span,
  ul,
  li,
  a,
  header {
    box-sizing: border-box;
  }

  header {
    width: 100%;
    display: inline;
    justify-content: space-between;
    padding: 20px 20px;
    align-items: center;
    position: sticky;
    z-index: 999;
  }
  header img {
    height: 50px;
    width: 50px;
    display: sticky;
  }

  #menu li {
    list-style: none;
    display: inline-block;
    margin: 5px;
  }

  #menu li a {
    color: black;
    text-decoration: none;
    font-size: 17px;
  }

  section {
    width: auto;
    float: auto;
    height: auto;
    width: auto;
    position: relative;
  }

  #Home {
    background-image: url(/images/background.jpeg);
  }

  #about {
    background-color: #f4e600;
    display: auto;
  }

  #more {
    background-color: #f4e600;
  }

  #contact {
    background-color: #f4e600;
  }

  span {
    color: orange;
  }
  .textbox {
    text-align: justify;
    margin-left: 5%;
    margin-right: 25%;
    margin-top: 25%;
    border: 30px;
    padding: 50px;
    width: 400px;
    text-align: left;
  }

  .AboutME img {
    height: 300px;
    width: 400px;
    display: flexbox;
    position: center;
  }
  .text2 {
    text-align: justify;
    float: left;
    border: auto;
    padding-left: 10px;
    text-size-adjust: auto;
    width: auto;
    text-align: justify;
    margin-top: auto;
    margin-right: auto;
    left: auto;
  }

  .mdpic img {
    float: left;
    display: flexbox;
    position: relative;
    margin-top: -20%;
    height: max-content;
  }

  .contact-box {
    width: auto;
    top: 50%;
    left: 10%;
    transform: translate(-9%, -9%);
    position: absolute;
    box-shadow: 0 0 20px 0 #999;
    background-color: #f4e600;
  }
  form {
    margin: auto;
  }
  .input-field {
    width: 300x;
    height: 40px;

    padding-left: 5px;
    border: 1px solid #fffb00;
    border-radius: auto;
    outline: none;
  }

  .social {
    position: center;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: start;
    display: absolute;
  }
}


